.modal_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}

.modal_content {
    width: 400px;
    height: 150px;
    top: 10%;
    left: calc(50% - 200px);

    position: relative;
    background-color: white;

    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px lightblue;
    display: flex;
    flex-direction: column;
    gap: 10px;
}