/* Здесь будем экспериментировать и писать код. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.flex-container {
    border: 1px solid blue;
    justify-content: space-between;
    align-items: center;
}

.box {
    width: 300px;
    height: 300px;
    border: 1px solid black
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: yellow;
}

.box3 {
    background-color: lightgreen;
}