/* Здесь будем экспериментировать и писать код. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    margin: 20px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0
}

h1 {
    color: #0096CD;
    text-align: center;
    margin: 15px auto;
}

.plan_list {
    margin-left: 20px;
}

.card {
    margin-bottom: 20px;
    padding: 10px;
    background-color: aliceblue;
    border: 1px solid #0096CD;
    box-shadow: 5px 5px 15px lightblue;
    border-radius: 10px;
}

img {
    max-width: 100%;
}

.product-card {
    border-radius: 10px;
    box-shadow: 5px 5px 15px lightblue;
    padding: 10px;
    background-color: white;
}

.product-card:hover .product-name {
    color: blue;
}

.product-img {
    aspect-ratio: 1 / 1;
}

.product-name {
    color: #0096CD;
    font-weight: 700;
    font-size: 18px;
    transition: all 0.4s;
}

.product-info {
    display: flex;
    justify-content: space-between;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
